body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
}

.canvas {
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    margin: 10px;
}
