body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a; /* Dark background color */
}

#app {
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff; /* White text color */
}

.display-container {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6); /* Darker shadow for a more defined look */
    padding: 40px;
    margin: 0 auto;
    border-radius: 20px; /* Rounded corners for a square shape */
    border: 1px solid #333; /* Thin border around the display container */
    background-color: #333; /* Darker background color */
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dropdown-container {
    position: relative;
}

input {
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px; /* Rounded corners for the text boxes */
    border: 1px solid #444; /* Thin border around the text boxes */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Darker shadow for the text boxes, matching the display shadow */
    background-color: #333; /* Darker background color */
    color: #fff; /* White text color */
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 20px); /* Adjusted width */
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #444;
    background-color: #333; /* Darker background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    border-bottom: 1px solid #444;
}

.dropdown-option:hover {
    background-color: #555;
}

.dropdown-indicator {
    position: absolute;
    top: 50%;
    right: 15px; /* Increased distance from the border */
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8); /* Increased shadow */
    cursor: pointer;
    z-index: 2;
}
